.headline {
    text-transform: uppercase;
    text-align: center;
}

.management-cb-section, .management-viga-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.management-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10vw 2vw;
    width: 80vw;
}

.name {
    font-family: karu;
    font-size: 20px;
    margin: 8px 0;
}

.title, .education {
    font-size: 14px;
    margin: 0 0 10px;
}

.gina-btn {
    text-align: center;
    text-decoration: none;
    background-color: var(--blue);
    color: white;
    font-family: ibm-plex-med;
    display: block;
    padding: 5px 10px;
    border-radius: 20px;
    transition: transform 0.3s ease
}

@media screen and (min-width: 768px) {

    .management-cb-section, .management-viga-section {
        grid-template-columns: repeat(3, 1fr);
    }

    .management-card {
        justify-content: unset;
        width: 20vw;
        margin:0 0 2vw;
    }

    .name {
        font-size: 24px;
        margin: 16px 0;
    }

    .title, .education {
        margin: 0 0 20px;
    }

    .gina-btn:hover {
        transform: translateY(-2px);
    }
}