p,
h2,
h3 {
    margin: 20px;
}



.center {
    display: flex;
    justify-content: center;
}

/* Valgmuligheder for donation */

img {
    width: 80%;
}

.valgmuligheder {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}

/* Bliv fadder */
.fadder {
    background-color: rgba(35, 48, 81, 1);
    display: grid;
    grid-template-columns: 1fr;
}

.fadder p {
    color: white;
}

.fadder h2 {
    color: rgba(242, 134, 39, 1);
}


#underline {
    text-decoration: underline;
    text-align: center;

}

/* Giv et bidrag */
.bidrag {
    background-color: rgba(241, 237, 222, 1);
    display: grid;
    grid-template-columns: 1fr;
    color: rgba(35, 48, 81, 1);
}


/* Medlem */
.medlem {
    background-color: rgba(35, 48, 81, 1);
    display: grid;
    grid-template-columns: 1fr;
}

.medlem h2 {
    color: rgba(242, 134, 39, 1);
}

.medlem p {
    color: white;
}

label {
    color: white;

}

.form_medlem {
    margin: 20px;
    font-family: ibm-plex-bold;
}

form {
    padding-top: 3rem;
    padding-bottom: 5rem;
    font-family: ibm-plex-bold;
}

.form input {
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    font-family: ibm-plex;
    border: none;
    outline: none;
}

.navn,
.email {
    margin-bottom: 2rem;
}

.besked {
    padding-bottom: 40px;
}

#bigText2 {
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 300px;
    height: 120px;
    font-family: ibm-plex;
    border: none;
    outline: none;
}

button {
    background-color: #f28627;
    color: white;
    border-radius: 20px;
    width: 130px;
    font-family: ibm-plex-bold;
    border: none;
    outline: none;
    cursor: pointer;
}



/* Virksomhed */
hr {
    width: 50%;
}

.virksomhed {
    background-color: rgba(241, 237, 222, 1);
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.virksomhed h3 {
    color: rgba(35, 48, 81, 1);
}

.order {
    order: 2;
}

.venskabspartner {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25px;
    border-radius: 20px;
    width: 40%;
}

.venskabspartner p {
    line-height: 5px;
}



/* Scan */
#mobilepay {
    width: 40%;
}

.scan {
    display: grid;
    grid-template-columns: 1fr;
}



/* BTN orange */
.btn_orange {
    background-color: rgba(242, 134, 39, 1);
    border-radius: 30px;
    width: 20%;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* BTN blå */
.btn_blå {
    background-color: rgba(35, 48, 81, 1);
    border-radius: 30px;
    width: 20%;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {

    p {
        font-size: 18px;
    }

    h2 {
        font-size: 30px;
    }


    h2,
    p {
        margin-left: 150px;
        margin-right: 150px;
        width: 80%;
    }

    /* Valgmuligheder for donation */
    .valgmuligheder img {
        width: 50%;
    }

    /* Fadder */


    .fadder {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px;

    }

    .fadder img {
        width: 50%;
        object-fit: contain;

    }

    #underline {
        display: grid;
        grid-template-columns: 1fr 1fr;
        order: 1;
        cursor: pointer;
        margin-top: 0;
    }

    /* Bidrag */

    .bidrag {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 80px;
    }

    .bidrag img {
        width: 100%;
        margin: 0;
    }

    .bidrag_text {
        order: 2;
        padding-left: 100px;
        padding-right: 20px;
        width: 70%;
    }

    .bidrag img {
        width: 100%;
        padding-left: 180px;
        object-fit: contain;
    }




    /* Medlem */

    .medlem {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px;
    }

    form {
        padding-top: 80px;
        padding-bottom: 0;
    }

    .btn_orange {
        background-color: rgba(242, 134, 39, 1);
        border-radius: 30px;
        width: 20%;
        border: none;
        cursor: pointer;
        color: white;
        margin: 20px auto;
        font-size: 15px;
    }

    /* Virksomhed */
    .virksomhed {
        padding: 30px;

    }

    .støtte_donation p {
        width: 100%;
    }

    .støtte_donation h3 {
        font-size: 23px;
    }

    .virksomhed_text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 70px;
        padding-right: 80px;
        width: 80%;
        padding-bottom: 30px;
        margin-top: 40px;
    }

    .støtte_muligheder {
        display: flex;
        flex-direction: row;
    }

    .virksomhed img {
        width: 80%;
        object-fit: contain;

    }

    .btn_blå {
        background-color: rgba(35, 48, 81, 1);
        border-radius: 30px;
        width: 20%;
        border: none;
        cursor: pointer;
        color: white;
        margin: 20px auto;
        font-size: 15px;
    }



    /* Scan */

    .scan {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 90px;
    }

    .scan h2 {
        font-size: 30px;
    }

    .scan p {
        font-size: 20px;
        width: 70%;
    }

    #mobilepay {
        width: 50%;
        object-fit: contain;
    }

}