main {
    margin: 20px;
}

.fn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    gap: 20px;
}

.fn img {
    width: 90%;
}

@media screen and (min-width: 768px) {
    main {
        margin: 150px;
    }

    div {
        display: flex;
        justify-content: center;
    }

    .fn img {
        width: 50%;
        object-fit: contain;
    }

    h1 {
        width: 45%;
    }

}