:root {
--blue: #2C3B59;
--orange: #F28627;
}

@font-face {
    font-family: karu;
    src: url("../fonts/karu-bold.ttf");
}

@font-face {
    font-family: ibm-plex;
    src: url("../fonts/IBMPlexSansThaiLooped-Regular.ttf");
}

@font-face {
    font-family: ibm-plex-bold;
    src: url("../fonts/IBMPlexSansThaiLooped-Bold.ttf");
}

@font-face {
    font-family: ibm-plex-med;
    src: url("../fonts/IBMPlexSansThaiLooped-Medium.ttf");
}

h1 {
    font-family: karu;
}

h2, h3, h4 {
    font-family: ibm-plex-bold;
}

p {
    font-family: ibm-plex;
}

body {
    margin: 0;
}

/* Footer - mobil */
footer {
    background-color: #F1EDDE;
    display: flex;
    flex-direction: column;
}

.footer-container {
    margin: 0 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-text {
    margin: 0;
}

.footer-info-container {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.footer-text-container {
    display: flex;
    flex-direction: column;
}

.footer-subheadline {
    text-align: center;
}

.footer-subheadline, .footer-headline {
    text-transform: uppercase;
}

.footer-sponsor-pic-container {
    display: flex;
    flex-direction: row;
}

.footer-pic-left, .footer-pic-right {
    display: flex;
    flex-direction: column;
}

.footer-sponsor-container {
    margin: 25px 0 ;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2vw;
    }
    
.social-text {
    text-transform: uppercase;
    font-family: ibm-plex-bold;
}

.socials {
    display: flex;
    gap: 10px;
}

.payment-icon, .social-icon {
    height: 40px;
    width: auto;
}

.social-icon {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    /* Navbar - desktop */
    header {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    nav {
        overflow-x: hidden;
    }

    nav a {
        text-decoration: none;
        font-family: ibm-plex-med;
        font-size: 16px;
        color: black;
        text-transform: uppercase;
    }

    nav ul a {
        transition: color 0.3s ease;
    }

    nav ul a:hover {
        color: var(--orange);
    }


    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.5vw;
        width: 100%;
        margin: 0;
        padding: 15px 0;
        padding-left: 3vw;
    }

    nav ul li:last-child {
        margin-left: 40vw;
    }

    nav img {
        height: 70px;
        width: auto;
    }

    nav svg {
        height: 30px;
        width: auto;
    }

    .donationBar {
        background-color: var(--orange);
        padding: 5px 0;
        display: flex;
        justify-content: flex-end;
    }

    .donationContainer {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        align-items: center;
    }

    .donation {
        margin-right: 15px;
        font-size: 14px;
        transition: transform 0.3s ease;
    }

    .donation:hover {
        transform: translateX(5px);
    }


    .arrow {
        height: 15px;
        width: auto;
        margin-left: 10px;
    }

    /* Footer - desktop */
    .footer-container {
        flex-direction: row;
    }

    .footer-bottom {
        flex-direction: row;
        margin: 2vw 3vw 0;
    }

    .payment-icon, .social-icon {
        height: 50px;
    }
}