:root {
--blue: #2C3B59;
--orange: #F28627;
}

@font-face {
    font-family: karu;
    src: url("../fonts/karu-bold.ttf");
}

@font-face {
    font-family: ibm-plex;
    src: url("../fonts/IBMPlexSansThaiLooped-Regular.ttf");
}

@font-face {
    font-family: ibm-plex-bold;
    src: url("../fonts/IBMPlexSansThaiLooped-Bold.ttf");
}

h1 {
    font-family: karu;
}

h2, h3, h4 {
    font-family: ibm-plex-bold;
}

p {
    font-family: ibm-plex;
}