/* css til mobil */
.kontaktfoto img {
  width: 100%;
  height: 200px;
}

.form-section {
  padding: 30px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 13px;
}

.form {
  padding-top: 3rem;
  padding-bottom: 5rem;
  font-family: ibm-plex-bold;
}

.form input {
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  font-family: ibm-plex;
  border: none;
  outline: none;
}

.navn,
.email {
  margin-bottom: 2rem;
}

.besked {
  padding-bottom: 40px;
}

#bigText2 {
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 300px;
  height: 120px;
  font-family: ibm-plex;
  border: none;
  outline: none;
}

input:hover {
  background-color: rgb(231, 231, 231);
  border-color: black;
}

button {
  background-color: #f28627;
  color: white;
  padding: 10px;
  border-radius: 20px;
  width: 130px;
  font-family: ibm-plex-bold;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(210, 92, 49);
}

/* css til computer */
@media (min-width: 1024px) {
  .kontaktfoto img {
    width: 100%;
    height: 450px;
  }

  h1 {
    font-size: 45px;
  }

  .form-section {
    padding-left: 350px;
    padding-right: 350px;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .besked {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  #bigText2 {
    width: 100%;
    height: 160px;
    box-sizing: border-box;
  }

  .submit_btn {
    grid-column: 2;
    justify-self: end;
    align-self: end;
    width: 180px;
    height: 40px;
  }
}
