/* css til mobil version */
.nyhedfoto img {
  width: 100%;
  height: 300px;
}

h1 {
  font-size: 40px;
}

h6 {
  font-family: ibm-plex;
  font-size: 15px;
}

.nyhedbody {
  padding: 30px;
}

.nyhedbody img {
  width: 100%;
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

figure {
  margin: 0;
}

figure img {
  display: block;
}

.undertekst {
  font-family: ibm-plex;
  font-size: 10px;
  margin-top: -5px;
  margin-bottom: 2.5rem;
}

/* css til computer */
@media (min-width: 1024px) {
  .nyhedfoto img {
    width: 100%;
    height: 550px;
  }

  h1 {
    font-size: 50px;
  }

  .nyhedbody {
    padding-left: 350px;
    padding-right: 350px;
  }

  .nyhedbody img {
    width: 100%;
    height: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
