/* css til mobil */
main {
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.product img {
  width: 100%;
}

.product {
  margin-bottom: 5rem;
}

h1 {
  font-family: karu;
  font-size: 55px;
  text-align: center;
}

h3 {
  margin-top: 2px;
  margin-left: 0.2rem;
}

p {
  text-align: end;
  font-size: 20px;
  margin-top: -26px;
}

.product_link {
  text-decoration: none;
  color: black;
  display: block;
}

.product:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.2s;
}

.btn {
  background-color: #233051;
  color: white;
  padding: 10px;
  border-radius: 20px;
  width: 340px;
  font-family: ibm-plex-bold;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #404b65;
}

/* css til computer */
@media (min-width: 1024px) {
  .productlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 9rem;
  }

  .product img {
    width: 100%;
    object-fit: cover;
  }

  .product {
    padding-bottom: 3rem;
    margin: 1rem;
  }

  .btn {
    width: 100%;
    max-width: 340px;
  }
}
